@import url(reset.css);
@import url(grid.css);

html {
  font-size: 62.5%;
}
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
/* helper class */
.overflow {
  overflow-y: hidden;
}
/* nav */
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.nav-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -15rem;
  top: 5rem;
  transition: all 0.3s ease-in-out;
  bottom: 0;
  background-color: #fff;
}
.nav-list--open {
  left: 0;
  padding: 0 0 0 2rem;
  width: 50%;
  z-index: 100;
}
.nav-list__item {
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.general-link {
  background-color: #060000;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* --------------------------------------------------hamburger menu Icon */
.hamburger-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.hamburger-icon {
  display: block;
  position: relative;
}
.hamburger-icon,
.hamburger-icon::after,
.hamburger-icon::before {
  content: "";
  width: 3rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  background-color: #060000;
  transition: all 250ms;
}
.hamburger-icon::before {
  position: absolute;
  bottom: 1rem;
}
.hamburger-icon::after {
  position: absolute;
  top: 1rem;
}

/* close hamburger */
.hamburger-icon__wrapper--open .hamburger-icon::before {
  transform: translateY(1rem) rotate(45deg);
}
.hamburger-icon__wrapper--open .hamburger-icon::after {
  transform: translateY(-1rem) rotate(-45deg);
}
.hamburger-icon__wrapper--open .hamburger-icon {
  background-color: #fff;
}
/* --------------------------------------------------------------------- */
/* ------------------------header */
.general-style {
  background-color: #a6d5df;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 2rem 2rem;
  border-radius: 0.4rem;
  align-items: center;
}
.header__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.header__title {
  font-size: 4.2rem;
  font-weight: 700;
  margin: 2rem 0 5rem 0;
}
.header__desc {
  margin-bottom: 3rem;
}
.header__link {
  width: 13rem;
}

.header__cover {
  width: 40rem;
}
/* producrs */
.products {
  margin-top: 5rem;
  padding: 5rem 0;
}

.general-title {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}
.products__boxes-wrapper {
  margin-top: 5rem;
}

.product__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.general-box-title {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  color: #4f4f4f;
}

/* ----------------------------------------------deals section */
.deals {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.deals__wrapper {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.deals__items-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 35rem;
}
.deals__items-wrapper:last-child{
    margin-bottom: 0;
}
.deals__item {
  display: flex;
  align-items: center;
  background-color: #202a36;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 5rem;
}
.item__desc-wrapper {
  max-width: 22rem;
  line-height: 3rem;
}

.item__desc {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 2rem;
  color: #fff;
}

.item__icon {
  background-color: #a8a8a8;
  border-radius: 61%;
  width: 5rem;
  height: 5rem;
  position: relative;
}
.item__icon::after,
.item__icon::before {
  content: "";
  position: absolute;
  background-color: #fff;
}
.item__icon::after {
  width: 0.5rem;
  height: 3rem;
  top: 1rem;
  left: 2.7rem;
  transform: rotate(45deg);
}
.item__icon::before {
  width: 0.5rem;
  height: 1.5rem;
  transform: rotate(135deg);
  top: 2.1rem;
  left: 1.2rem;
}
/* ---------------------------------------------best sellers section */
.sellers {
  padding: 5rem 0;
}
.sellers__images-wrapper {
  margin-top: 5rem;
}
.sellers__img-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.seller__image {
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  margin-bottom: 3rem;
}
.sellers__img {
  height: 100%;
  width: 100%;
}
/* ----------------------------------------------------connections */
.connections{
  padding-top: 5rem;
  background-color: #EEF7F8;
  padding:5rem 0;
}
.connection__wrapper{
    display: flex;
    flex-direction: column;
}

.connection__title{
    color: #585858;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    max-width: 20rem;
}
.connection__desc{
    color: #666666;
    font-size: 1.4rem;
    max-width: 30rem;
}
.connetction__ways{
    padding-left: 1rem;
    margin-top: 2rem;
}
.connection__way{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
}
.connection__information{
    font-size: 1.6rem;
    margin-left: 2rem;
}
/* .mail-information{
    font-size: 1rem;
} */
.connection__information-titr{
    color: #A4A4A4;
}

.form{
    display: flex;
    flex-direction: column;
}
.label{
    color: #404040;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    position: relative;
}
.user-input{
    background-color: #DFDFDF;
    border-radius: 5rem;
    padding: 1rem 5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
#message{
    background-color: #DFDFDF;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}
::placeholder {
    color: #4B4B4B;
    font-size: 1.4rem;
  }

.form-link{
    background-color: #D2D0D0;
    color: #030303;
    font-weight: 600;
    font-size: 1.4rem;
    width: 15rem;
    padding: 1rem 2rem;
}

#name-label::before,#mail-label::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 3.6rem;
    left: 1rem;
}
#name-label::before{
    background-image: url("../pictures/svgs/name.svg");
    width: 1.5rem;
    height: 1.5rem;
    
}
#mail-label::before{
    background-image: url("../pictures/svgs/Vector4.svg");
    width: 2rem;
    height: 2rem;
}