@import url(reset.css);
@import url(grid.css);

html{
    font-size: 62.5%;
}
body{
    font-family: 'Segoe UI',sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}
/* helper class */
.overflow{
    overflow-y: hidden;
}
/* nav */
.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}
.nav-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -15rem;
    top: 5rem;
    transition: all .3s ease-in-out;
    bottom: 0;
    background-color: #fff;
}
.nav-list--open{
    left: 0;
    padding: 0 0 0 2rem;
    width: 50%;
    z-index: 100;
}
.nav-list__item{
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    transition: all .3s ease-in-out;
}
.nav-list__item:last-child{
    margin-right: 0;
}

.general-link{
    background-color: #060000;    
    color: #fff;
    border-radius: 2rem;
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
}

/* --------------------------------------------------hamburger menu Icon */
.hamburger-icon__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.hamburger-icon{
    display: block;
    position: relative;
}
.hamburger-icon,.hamburger-icon::after,
.hamburger-icon::before {
    content: "";
    width: 3rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background-color: #060000;
    transition: all 250ms;
}
.hamburger-icon::before{
    position: absolute;
    bottom: 1rem;
}
.hamburger-icon::after{
    position: absolute;
    top: 1rem;
}

/* close hamburger */
.hamburger-icon__wrapper--open .hamburger-icon::before{
    transform: translateY(1rem) rotate(45deg);
}
.hamburger-icon__wrapper--open .hamburger-icon::after{
    transform: translateY(-1rem) rotate(-45deg);
}
.hamburger-icon__wrapper--open .hamburger-icon{
    background-color: #fff;
}
/* --------------------------------------------------------------------- */
/* ------------------------header */
.general-style{
    background-color: #A6D5DF;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 2rem 2rem;
    border-radius: .4rem;
    align-items: center;
}
.header__body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.header__title{
    font-size: 4.2rem;
    font-weight: 700;
    margin: 2rem 0 5rem 0;
}
.header__desc{
    margin-bottom: 3rem;
}
.header__link{
    width: 13rem;
}

.header__cover{
    width: 40rem;
}
/* producrs */
.products{
    margin-top: 5rem;
}

.general-title{
    font-size: 3.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 7rem;

}
.products__boxes-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.product__box{
    margin-top: 5rem;
}
.box__title{
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    color: #4F4F4F;
}

/* ----------------------------------------------deals section */
.deals{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.deals__title{

}
.deals__items-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deals__item {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    background-color: #202A36;
    color: #fff;
    max-width: 37rem;
    padding: 1rem 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.item__desc {
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: 2rem;
}

.item__icon{
    background-color: #A8A8A8;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    /* position: relative; */
}
/* .item__icon::after,
.item__icon::before{
    content: "";
    position: absolute;
    background-color: #fff;
} */
/* .item__icon::after{
    width: 0.5rem;
    height: 3rem;
    top: 1rem;
    left: 2.5rem;
    transform: rotate(45deg);
}
.item__icon::before{
    width: 0.5rem;
    height: 1.5rem;
    transform: rotate(135deg);
    top: 2rem;
    left: 1rem;
} */