@media screen and (min-width: 375px) {
}
@media screen and (min-width: 576px) {
  .header__cover {
    width: 45rem;
  }
}

@media screen and (min-width: 768px) {
  /* nav */
  .hamburger-icon__wrapper {
    display: none;
  }
  .nav__wrapper {
    padding: 1rem 0;
  }
  .desktop-nav-list {
    flex-direction: row;
    position: static;
  }

  .desktop-nav-list .nav-list__item {
    margin-right: 1rem;
    margin-top: 0;
    font-size: 1.6rem;
  }
  .nav-list__item:hover {
    background-color: #060000;
    color: #fff;
  }
  /* header */
  .general-style {
    padding-right: 0;
    padding-left: 0;
  }

  .header__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .header__body {
    display: flex;
    flex-direction: column;
    text-align: unset;
    align-items: unset;
  }
  .header__title {
    font-size: 4.2rem;
    margin: 0;
  }
  .header__desc {
    max-width: 45rem;
    margin: 3rem 0 5rem 0;
    font-size: 1.4rem;
  }

  .header__cover {
    width: 40rem;
  }

  /* connections */
.connection__user-information{
    border: .3rem solid #b0b0b08a;
    padding: 2rem 3rem;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 11px 2px #00000040;
    flex-basis: 40%;
  }
}
@media screen and (min-width: 992px) {
  .desktop-nav-list .nav-list__item {
    margin-right: 3rem;
  }
  .header__title {
    font-size: 5.8rem;
  }
  .connection__wrapper{
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 6.2rem;
  }
  .header__cover {
    width: 45rem;
  }
  .connection__user-information{
    flex-basis: 40%;
  }
}
@media screen and (min-width: 1400px) {
  .header__title {
    font-size: 7rem;
  }
  .header__cover {
    width: 50rem;
  }
}
